.wallet-index-wrapper
  .title-box
    margin-bottom: 40px
    @media $mobile
      margin-top: 20px
    h2
      font-size: 24px
      color: $blue_gray_80
    p
      margin: 12px auto
      padding-top: 10px
      width: 210px
      color: $fancy_gray_40
      border-top: 1px solid $blue_gray_80
    &.reverse
      h2
        color: #fff
      p
        color: #fff
        border-color: #fff
        opacity: .7
        border-color: rgba(255,255,255,.7)
  .banner
    height: 350px
    background-color: $blue_gray_40
    margin-bottom: 0
    color: #fff
    position: relative
    padding: 44px 70px
    @media $mobile
      height: auto
      padding: 20px
    .change-logo
      display: inline-block
      width: 200px
      margin-bottom: 14px
      margin-right: 20px
      @media $mobile
        display: block
        margin: 0 auto 14px
        width: 80%
    .subtitle
      color: $blue_gray_90
      font-size: 40px
      margin-bottom: 60px
      @media $mobile
        margin-bottom: 15px
        font-size: 16px
        font-size: 5.5vw
        text-align: center
    .feature-box-desktop
      display: inline-block
      vertical-align: top
      padding-top: 9px
      p
        margin-bottom: 16px
        font-size: 16px
    .feature-box-mobile
      font-size: 18px
      margin-bottom: 30px
      color: #fff
      span
        margin-right: 15px
      @media $mobile
        width: 235px
        margin: 0 auto
        font-size: 14px
        text-align: center
    .change-img
      width: 270px
      position: absolute
      right: 100px
      top: 30px
      @media $mobile
        position: relative
        width: 65%
        display: block
        margin: 10px auto
        right: auto
        top: auto
    .icon-checked
      margin-right: 5px
      font-size: 18px
      opacity: .8
    .btn-start
      padding: 0 60px
      @media $mobile
        padding: 0
        width: 75%
        display: block
        margin: 0 auto
    .slogan-box
      width: 216px
      whitespace: nowrap
      text-align: center
      @media $mobile
        margin: 0 auto

  .chart-wrapper
    clearfix()
    margin-bottom: 0
    background-color: #fafafa
    .chart-box
    .desc-box
      span(1/2)
      @media $mobile
        stack()
    .chart-box
      padding: 0 2%
      @media $mobile
        padding: 0
    .chart-main
      height: 170px
    h3
      color: $blue_gray_80
      font-size: 24px
      border-bottom: 1px solid $blue_gray_80
      padding-bottom: 15px
      margin-bottom: 15px
      @media $mobile
        font-size: 18px
    p
      line-height: 1.5
      margin-bottom: 10px

  .feature-wrapper
    margin-bottom: 0
    .feature-row
      clearfix()
      padding:0 5%
      @media $mobile
        padding: 0
    .feature-box
      col(1/2, gutter: 5)
      margin-bottom: 50px
      @media $mobile
        stack()
    .circle-box
      border: 1px solid $blue_gray_20
      width: 100px
      height: 100px
      border-radius: 50%
      padding-top: 18px
      img
        width: 60px
    h4
      font-size: 18px
      margin-bottom: 16px
      @media $mobile
       font-size: 15px
    p
      line-height: 1.8

  .advantage-wrapper
    background-color: $blue_gray_30
    margin-bottom: 0
    .advantage-box
      clearfix()
      padding: 0 2%
      @media $mobile
        padding: 0
    .advantage
      col(1/4,gutter: 1)
      clearfix()
      @media $mobile
       stack()
    .circle-box
      border: 1px solid #fff
      border: 1px solid rgba(255, 255, 255, .5)
      width:80px
      height:80px
      border-radius: 50%
      margin: 0 auto 20px
      @media $mobile
        float: left
      img
        width: 55px
        padding-top: 12px
    .desc-box
      text-align: center
      @media $mobile
        text-align: left
        margin-left: 100px
        margin-top: 12px
      h4
        font-size: 18px
        color: $blue_gray_90
        margin-bottom: 10px
      p
        color: $blue_gray_80
        line-height: 1.5
        font-size: 13px
