.wallet-txt-wrapper
  font-size: 13px
  line-height: 1.8

  h1
    border-bottom: 1px solid #dadada
    padding-bottom: 8px
    margin-bottom: 1em
    font-size: 30px

  h1, .h1, h2, .h2, h3, .h3
    margin-top: 18px
    margin-bottom: 9px

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
    font-family: inherit
    font-weight: 500
    line-height: 1.1
    color: inherit

  h2
    font-size: 22px

  p
    margin: 0 0 9px

  i
    display: inline-block
    width: 2em

  ul, ol
    margin-top: 0
    margin-bottom: 9px
    margin-left: 35px
    list-style-type: decimal

  ul ul, ol ul
    list-style-type: circle
    margin-left: 30px

  span.blank
    display: inline-block
    border-bottom: 1px solid #999
    vertical-align: bottom

  span.underline
    border-bottom: 1px solid #999
