<div class={{ property_ele }}>
  <div class="item">
    <div class="input-con">
      <input type="text" class="validate" data-validate="require,nature,optional" pattern="[0-9]*">
      <span class="text-lighter input-prefix">{{ property_str }}</span>
      <span class="text-lighter input-unit">元</span>
    </div>
  </div>
</div>