.childins-a003-wrapper
  .plan-wrapper
    .plan-2
      margin-bottom: 0
    p
      line-height: 1.8
    .text-tips
      margin-bottom: 30px
      @media $mobile
        margin-bottom: 15px
  .category-wrapper
    .table-box
      margin-bottom: 30px
      @media $mobile
        margin-bottom: 0
    p
      margin-bottom: 20px
      line-height: 1.8
