.childins-l001-wrapper
  .reason-wrapper
    .coverage-detail-box
      margin: 15px 0

  .chart-wrapper
    border-bottom: 1px dotted $gray_30
    padding-bottom: 45px
    padding-top: 40px
    @media $mobile
      padding-bottom: 20px
    h3
      @media $mobile
        margin-bottom: 0
    .chart-box
      clearfix()
    .title-main
      span(1/10)
      padding: 30px 0
      border-right: 1px solid $gray_30
      @media $mobile
        stack()
        font-size: 16px
        padding: 30px 0 0
        border-right: none
    .chart-main
      span(9/10)
      font-size: 0
      padding-top: 25px
      @media $mobile
        stack()
        padding-top: 10px
    h5
      margin-bottom: 5px
      @media $mobile
        display: inline-block
    .background-blue
      background-color: $blue_gray_50
    .background-green
      background-color: $green_50
    .column
      padding: 5px 0
      text-align: center
      color: #fff
      font-size: 14px
      display: inline-block
    .column-1
      width: 20%
      @media $mobile
        width: 40%
    .column-2
      width: 30%
      @media $mobile
        width: 50%
    .column-3
      width: 15%
      @media $mobile
        width: 35%
    .column-4
      width: 25%
      @media $mobile
        width: 45%
    p
      font-size: 14px
      display: inline-block
      margin-right: 40px
      @media $mobile
        margin-bottom: 10px
      em
        width: 10px
        height: 10px
        margin-right: 5px
        display: inline-block
    .desc-box
      margin-top: 10px
      margin-left: 10px
      @media $mobile
        margin-left: 0
    .tips
      display: inline-block
      margin-left: 10px
      @media $mobile
        margin-left: 0
        display: block