.childins-l002-wrapper
  .category-wrapper
    .fee-box
      span(.5)
      @media $mobile
        stack()
    .plan2
      @media $mobile
        width: 85% !important
    .plan3
      @media $mobile
        width: 72% !important
    .tips-text
      @media $mobile
        display: block
        margin-top: 10px
    p
      span
        margin-left: 10px
