.participate-wrapper
  .participate-item
    margin-bottom: 60px
    .desc-con
      margin-top: 20px
      .unbind
        color: #999
        padding-right: 10px
      .tip
        display: inline-block
        margin-left: 20px
        line-height: 18px
        padding: 0 4px
        background: $yellow_10
        color: $brown_90
        border: 1px solid $yellow_40
        font-size: 12px
        @media $mobile
          margin-left: 0
          margin-top: 15px
    .input-url
      display: inline-block
      overflow-x: scroll
      border: 1px solid #ddd
      height: 35px
      line-height: 35px
      width: 400px
      padding: 0 10px
      color: $gray_60
      font-size: 14px
      vertical-align: middle
      outline: none
      @media $mobile
        width: 95%
    .left-col span
      display: inline-block
      line-height: 20px
      text-align: center
      color: #fff
      width: 20px
      height: 20px
      background: $brand_blue
      border-radius: 50%
    .right-col
      p
        line-height: 20px

.dlg-result-act61
  .title-con
    padding: 20px
    text-align: center
    border-bottom: 1px dotted #ccc
    margin-bottom: 20px
    h3
      color: $brand_orange
      font-size: 24px
      margin-bottom: 10px
    h4
      color: $gray_dark
      font-size: 20px
  .participate-wrapper
    padding: 10px 40px
    margin: 0 auto
    @media $mobile
      padding: 10px
  .btn-con
    text-align: center
    margin: -10px 0 40px
    @media $mobile
      margin: 0 0 20px
  .btn-act61
    border: 1px solid $brand_orange
    padding: 0 30px
    line-height: 30px
    font-size: 14px
    color: $brand_orange
  .bear
    position: absolute
    bottom: -20px
    right: -30px
  .participate-item
    @media $mobile
      margin-bottom: 20px
      .left-col
        padding-left: 5px
        width: 13px
        height: 13px
        font-size: 12px
        line-height: 13px
      .right-col p
        font-size: 13px
    .desc-con
      margin-top: 10px
      @media $mobile
        font-size: 13px
      .tip
        display: block
        margin-left: 0
