.invite-register-wrapper
  .accounts-content
      width: 1100px
      height: 600px
      margin: 40px auto
      background-color: #fff
      @media $mobile
        width: 100%
        margin-top: 0

  .top-banner
    background-color: #ffbb00
    text-align: center
    margin-bottom: 30px
    position: relative
    @media $mobile
      margin-bottom: 10px
    .banner-pic
      width: 100%
    .banner-desc
      position: absolute
      top: 15px
      left: 50%
      margin-left: -100px
    .title,
    .subtitle
      color: #fff
      width: 200px
      text-align: center
      font-size: 20px
      line-height: 30px
  .gm-account
    display: block
    .m-account-form
      margin: 50px auto
      @media $mobile
        margin: 0 auto
    .split-line,
    .hd,
    .ft,
    .btn-login
      display: none
