--index-url=http://devpi.tuluu.com/guihua/pypi

flask>=0.10,<0.11
flask-limiter>=0.8,<0.9
flask-mako>=0.3,<0.4
flask-oauthlib>=0.9,<0.10
flask-script>=2.0,<2.1
flask-weixinapi
flask-wtf>=0.11,<0.12
flask-seasurf>=0.2,<0.3
blinker

arrow>=0.5,<0.6
babel>2.0,<=2.2.0
ua-parser>=0.3,<0.4
zhon>=1.1,<1.2
python-dateutil>=2.4,<2.5
python-envcfg>=0.1,<0.2
python-stdnum>=1.1,<1.2
gb2260>=0.3,<0.4

simplejson>=3.8,<3.9
pyyaml>=3.11,<3.12
more-itertools>=2.2,<2.3
requests>=2.8,<2.9
requests-oauthlib>=0.5,<0.6
enum34>=1.0,<1.1
ipaddress>=1.0,<1.1

base36>=0.1,<0.2
simpleflake>=0.1,<0.2
marshmallow>=2.0,<2.1

mysql-python>=1.2,<1.3
pycouchdb>=1.12,<1.13
redis>=2.10,<2.11
beanstalkc>=0.4.0,<0.5
caoe>=0.1,<0.2

oauthlib>=1.0.3,<1.0.4
beautifulsoup>=3.2,<3.3
misaka>=1.0,<1.1

captcha>=0.1,<0.2
pillow>=2.8,<2.9
qrcode>=5.1,<5.2

cryptography>=1.0,<1.1
gunicorn>=19.3,<19.4
plan>=0.5,<0.6
setproctitle>=1.1,<1.2

qiniu==7.0.5
raven>=5.8,<5.9

numpy>=1.9,<1.12
scipy>=0.16,<0.18

solar-cache==0.10.10
solar-db==0.2.8
solar-logger==0.1.2
solar-mixin==0.0.9
solar-utils==0.1.2
sms-client==0.2.5
jpush-client>=0.2,<0.3

xmlib>=0.1,<0.2
sxblib>=0.2,<0.3
yxlib>=0.13,<0.14
yxpay>=0.3,<0.4
zslib>=0.13,<0.14
zwlib>=0.9,<0.10
