.center-balance-block
  .balance-total-chart
    margin: 20px auto 10px
    width: 140px
    height: 140px
    overflow: hidden
  .balance-chart-wrapper
    margin-left: -10px
    margin-bottom: 30px
    height: 120px
  .highcharts-axis
    display: none
