.center-invest-block
  .block-item-table
    width: 100%
    margin-top: 20px
    th
      width: 33.33%
      height: 44px
      line-height: 44px
      text-align: center
      font-size: 16px
      color: #fff

    .th_blue
      background-color: $brand_blue

    .th_orange
      background-color: $brand_orange

    .th_red
      background-color: $brand_red

    td
      border-right: 1px solid #e3e3e3
      border-bottom: 1px solid #e3e3e3
      padding: 15px
      vertical-align: top
      &:first-child
        border-left: 1px solid #e3e3e3
      @media $mobile
        padding: 10px
      p
        line-height: 24px
        padding-top: 10px
        color: $gray
