.center-property-wrapper
  .block-color
    display: inline-block
    vertical-align: middle
    height: 14px
    width: 14px
    margin: -2px 12px 0 0

  .block-blue
    background: $blue_gray_50

  .block-yellow
    background: $orange_50

  .block-purple
    background: $deep_purple_50

  .block-cyan
    background: $cyan_50

  .block-gray
    background: $fancy_gray_20

  .block-colorless
      background: none
