.center-target-block
  .chart-target-column
    width: 100%
    margin-bottom: 20px
  .detail-box-item
    text-align: center
    width: 30%
    margin-right: 4%
    display: inline-block
    border: 1px solid #F7F7F7
    font-size: 0
    &:last-child
      margin-right: 0px
    @media $mobile
      width: 100%
      margin: 0 auto 20px
      font-size: 0

  .detail-box-tiem-title
    background: #F7F7F7
    line-height: 3em
    font-size: 14px
    @media $mobile
      vertical-align: top
      line-height: 36px
      display:inline-block
      float: left
      width: 56%

  .detail-box-tiem-number
    line-height: 2em
    font-size: 28px
    color: $gray_dark
    @media $mobile
      font-size: 24px
      vertical-align: top
      line-height: 36px
      display:inline-block
      width: 42%
