.text-dark
  color: $gray_dark !important

.text-light
  color: $gray_light !important

.text-lighter
  color: $gray_lighter !important

.text-left
  text-align: left !important

.text-center
  text-align: center !important

.text-right
  text-align: right !important

.text-white
  color: #fff !important

.text-blue
  color: $brand_blue !important

.text-green
  color: $brand_green !important

.text-orange
  color: $brand_orange !important

.text-red
  color: $brand_red !important

//only for mobile
.text-10
  font-size: 10px !important

.text-12
  font-size: 12px !important

.text-16
  font-size: 16px !important

.text-bold
  font-weight: 900
