$brand_blue = $blue_gray_80
$brand_orange = $orange_70
$brand_red = $red_50
$brand_green = $green_70

$gray_dark = $gray_80
$gray = $gray_70
$gray_light = $gray_60
$gray_lighter = $gray_50

$primary_color = $brand_orange
$text_color = $gray
$border_color = $gray_30

$page_width = 1000px
$page_bg = #edeef2

$mobile = 'screen and (max-width: 767px)'
$desktop = 'screen and (min-width: 768px)'
