.lender-detail-wrapper
  h3
    padding-bottom: 15px
    margin-bottom: 1px
  .serial-number
    color:$yellow_70
    margin-top: 3px
  .lender-list
    border-top: 3px solid $gray_20
    padding-top: 1px
    li
      padding: 15px 3px
      border-top: 1px solid $gray_20
      span
        float: right
  .lender-block
    .lender-list
      margin-bottom: 20px

  .lender-tips
    margin-top: 20px
