$screen_width_middle = 'screen and (max-width: 340px)'

.gm-app-float
  display: none
  position: fixed
  bottom: 0
  left: 0
  z-index: 10
  background-color: $blue_10
  height: 80px
  width: 100%
  >.hd
    float: left
    margin-right: 10px
    @media $screen_width_middle
      margin-right: 5px
    .logo
      display: inline-block
      width: 50px
      height: 50px
      margin: 17px 0 0 20px
      @media $screen_width_middle
        margin-left: 10px
  >.bd
    overflow: hidden
    .desc
      display: inline-block
      margin-top: 20px
      line-height: 1.5
    .title
      font-size: 16px
    .sub-title
      font-size: 14px

    .btns
      float: right
      width: 140px
      height: 80px
      line-height: 80px
      margin-right: 10px
      @media $screen_width_middle
        margin-right: 5px
    .btns-wrapper
      display: inline-block
      line-height: 1
      vertical-align: middle
    .btn
      display: inline-block
      padding-left: 0
      font-size: 14px
      width: 140px
      text-align: center
      margin: 2px 0
    .icon
      margin: 7px 3px 0 10px
      vertical-align: top
      width: 16px
      height: (16/25)*30 px
      display: inline-block
  >.ft
    position: absolute
    left: 10px
    top: -10px
    @media $screen_width_middle
      left: 7px
    .svgicon-close
      display: inline-block
      width: 20px
      height: 20px
