.floatbar-feedback
  position: fixed
  z-index: 3
  right: 0px
  top: 30%
  width: 24px
  line-height: 18px
  padding: 5px
  background: $brand_blue
  color: #fff
  cursor: pointer
  i
    display: block

.dlg-floatbar-feedback
  width: auto
