.m-ins-detail
  >.hd
    background-color: $green_50
    position: relative
    text-align: center
    .title
      padding: 20px 0 10px
      font-size: 24px
      color: #fff
    .svgicon
      vertical-align: bottom
      width: 260px
      height: 110px
    .btn-back
      position: absolute
      width: 80px
      height: 50px
      top: 0
      left: 0
      color: #fff
      .iconfont
        position: absolute
        left: 20px
        top: 22px
  >.bd
    background-color: #fff
    .m-ins-product
      cursor: pointer
      padding: 23px 4%
      position: relative
      border-top: 1px solid $gray_20
      overflow: hidden
      &:first-child
        border-top: none
      .category
        font-size: 18px
        color: $brand_green
      >.bd
        margin-top: 10px
        line-height: 1.4
      .title
        float: left
        font-weight: bold
        margin-bottom: 4px
        width: 65%
      .price
        float: right
        color: $brand_orange
        width: 35%
        text-align: right
      .num
        margin-right: 3px
      .iconfont
        color: $gray_40
      .desc
        clear: both
        color: $gray_50
  >.ft
    text-align: center
    padding: 26px 0 34px
    .btn
      width: 80%
      line-height: 40px

.m-ins-accident-detail
  >.hd
    background-color: $accident_color
    .svgicon
      position: relative
      bottom: 10px
  .m-ins-product
    >.hd
      .category
        color: $accident_color

.m-ins-dread-detail
  >.hd
    background-color: $dread_color
    .svgicon
      position: relative
      bottom: 10px
  .m-ins-product
    >.hd
      .category
        color: $dread_color

.m-ins-life-detail
  >.hd
    background-color: $life_color
  .m-ins-product
    >.hd
      .category
        color: $life_color

.m-ins-children-detail
  >.hd
    background-color: $children_color
  .m-ins-product
    >.hd
      .category
        color: $childins_color

.m-ins-travel-detail
  >.hd
    background-color: $travel_color
  .m-ins-product
    >.hd
      .category
        color: $travel_color
