.invite-mine-wrapper
  .bd_weixin_popup
  .bd_weixin_popup_foot
    display: none

  .hd
    font-size: 20px
    line-height: 20px
    margin-bottom: 25px
    @media $mobile
      font-size: 18px
      margin-bottom: 25px
      text-align: center
  strong
    color: $orange_80

  .top-banner
    position: relative
    background-color: $green_50
    padding: 40px 18% 0
    height: 220px
    @media $mobile
      padding: 20px
      height: auto
    .activity-title
      font-size: 30px
      color: $yellow_30
      @media $mobile
        margin-bottom: 30px
      .home-title
        em
          @media $mobile
            margin: 0 8px
        @media $mobile
          display: block
          font-size: 20px
          margin: 20px 0
      .sub-title
        margin-left: 30px
        @media $mobile
          margin-left: 0
    .rules-link
      display: block
      padding: 15px 0 50px
      color: $green_70
    .img-box
      margin: 30px auto 0
      width: 386px
      height: 122px
      position: relative
      .activity-img
        width: 386px
      span
        position: absolute
        bottom: 10px
        color: $red_60
        left: 141px
        background-color: $yellow_30
        padding: 2px 16px
        border-radius: 8px
        font-size: 12px
    .activity-mobile-img
      width: 80%
      margin: 0 auto
      display: block

    .banner
      width: 100%
    .title
      position: absolute
      width: 100%
      left: 50%
      top: 0
      font-size: 62px
      line-height: 70px
      padding-top: 50px
      color: #fff
      margin-left: -50%
      @media $mobile
        font-size: 22px
        line-height: 22px
        padding-top: 20px
    .subtitle
      position: absolute
      width: 100%
      left: 50%
      top: 150px
      font-size: 36px
      color: $orange_90
      line-height: 40px
      margin-left: -50%
      @media $mobile
        font-size: 16px
        line-height: 30px
        top: 50px

  .invite-mod
    background-color: $yellow_20
    text-align: center

  .invite-desc-mod
    &.activity-notice
      margin-top: 55px
    .bd
      li
        margin-bottom: 15px
        p
          margin-bottom: 8px
          line-height: 1.7
      .mark
        display: block
        padding: 1px 5px
        line-height: 14px
        border-radius: 2px
        color: #fff
        font-size: 12px
        top: 2px
        position: relative
      .num-mark
        background-color: #ccc
      .money-mark
        background-color: $orange_50
    .table-box
      width: 100%
      border-left: 1px solid $gray_30
      color: $gray_60
      @media $mobile
        width: 100%
        font-size: 13px
      td
        padding: 10px 12px
        text-align: center
        border-right: 1px solid $gray_30
        border-bottom: 1px solid $gray_30
        line-height: 1.5
      tr
        &:first-child
          background-color: $gray_20
          color: $gray_70
          td
            border-top: 1px solid $gray_30
            min-width: 32px

   .btn-back
      border: 1px solid $gray_30
      background-color: #fafafa
      font-size: 16px
      padding: 4px 80px
      margin: 50px 0 30px
      &:hover
        background-color: #fff
      @media $mobile
        width: 60%
        margin: 30px 0 30px
        padding: 4px

