@import '../core/_global.styl'

.sxb-main-wrapper
  .m-withdraw-rule
    background: #fff
    margin: 8px
    border-radius: 3px
    >.hd
      font-size: 14px
      border-bottom: 1px solid $gray_30
      margin: 0 8px
      .title
        color: #6A6A6A
        padding: 14px 0 14px 6px
    >.bd
      padding: 4px 14px 4px 14px
      .content
        line-height: 18px
        color: #9B9B9B
        font-size: 12px
        li
          margin: 7px 0
