.notice-announcement-wrapper
  h3
    font-size: 18px
    font-weight: bold
    margin-bottom: 20px
  p
   line-height: 1.8
   margin-bottom: 10px
  .table-box
    width: 70%
    border-left: 1px solid $gray_30
    color: $gray_60
    margin-bottom: 10px
    @media $mobile
      width: 100%
      font-size: 12px
    td
      padding: 10px 2px
      text-align: center
      border-right: 1px solid $gray_30
      border-bottom: 1px solid $gray_30
      line-height: 1.5
    tr
      &:first-child
        background-color: $gray_20
        color: $gray_70
        td
          border-top: 1px solid $gray_30
          min-width: 32px

  .section
    margin-bottom: 15px
