@import '../plugin/slick.css'
@import '../plugin/slick.theme.css'

.carousel-wrapper
  overflow: hidden
  margin-bottom: 30px
  @media $mobile
    margin-bottom: 10px
  .slide
    display: none
  .slide-first
    display: block
  .slick-slide
    display: block
  img
    width: 100%
