@font-face
  font-family: "iconfont"
  src: url('{{{img/font/iconfont.eot}}}?#iefix') format('embedded-opentype'), // IE6-IE8
       url('{{{img/font/iconfont.woff}}}') format('woff'), // chrome、firefox
       url('{{{img/font/iconfont.ttf}}}') format('truetype'), // chrome、firefox、opera、Safari, Android, iOS 4.2
       url('{{{img/font/iconfont.svg}}}#iconfont') format('svg'); // iOS 4.1-

.iconfont
  font-family: "iconfont" !important
  font-style: normal
  font-size: 16px
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.svgicon
  display: inline-block
  max-height: 100%
  max-width: 100%
img.svgicon
  max-height: none
  max-width: none

.icon-email:before
  content: "\e601"

.icon-lock:before
  content: "\e600"

.icon-quoteleft:before
  content: "\e602"

.icon-quoteright:before
  content: "\e603"

.icon-user:before
  content: "\e604"

.icon-arrowleft:before
  content: "\e605"

.icon-arrowright:before
  content: "\e606"

.icon-right:before
  content: "\e607"

.icon-new:before
  content: "\e608"

.icon-clock:before
  content: "\e609"

.icon-account:before
  content: "\e70a"

.icon-star:before
  content: "\e60b"

.icon-list:before
  content: "\e60c"

.icon-note:before
  content: "\e60e"

.icon-chart:before
  content: "\e60f"

.icon-female:before
  content: "\e610"

.icon-ghcheck:before
  content: "\e60d"

.icon-ghicon:before
  content: "\e611"

.icon-caution:before
  content: "\e612"

.icon-edit:before
  content: "\e613"

.icon-wrong:before
  content: "\e614"

.icon-menu:before
  content: "\e615"

.icon-close:before
  content: "\e616"

.icon-smcheck:before
  content: "\e61e"

.icon-phone:before
  content: "\e617"

.icon-revadd:before
  content: "\e618"

.icon-revchart:before
  content: "\e619"

.icon-revdel:before
  content: "\e61a"

.icon-revdollar:before
  content: "\e61b"

.icon-revfemale:before
  content: "\e61c"

.icon-revmale:before
  content: "\e61d"

.icon-revmoney:before
  content: "\e61f"

.icon-revuser:before
  content: "\e620"

.icon-inscompre:before
  content: "\e621"

.icon-eduins:before
  content: "\e622"

.icon-illins:before
  content: "\e623"

.icon-calendar:before
  content: "\e624"

.icon-back:before
  content: "\e625"

.icon-insedit:before
  content: "\e628"

.icon-result:before
  content: "\e629"

.icon-trash:before
  content: "\e626"

.icon-shield:before
  content: "\e627"

.icon-piggy:before
  content: "\e62a"

.icon-flag:before
  content: "\e62b"

.icon-dashboard:before
  content: "\e62c"

.icon-exclamation:before
  content: "\e62d"

.icon-gear:before
  content: "\e62e"

.icon-scard:before
  content: "\e62f"

.icon-sdisplay:before
  content: "\e630"

.icon-store:before
  content: "\e631"

.icon-sumber:before
  content: "\e632"

.icon-suser:before
  content: "\e633"

.icon-szan:before
  content: "\e634"

.icon-house:before
  content: "\e635"

.icon-debt:before
  content: "\e636"

.icon-money:before
  content: "\e637"

.icon-chain:before
  content: "\e638"
.icon-money:before
  content: "\e637"

.icon-bell:before
  content: "\e639"

.icon-cichart:before
  content: "\e63a"

.icon-cicheck:before
  content: "\e63b"

.icon-ciphone:before
  content: "\e63c"

.icon-copper:before
  content: "\e63d"

.icon-flag2:before
  content: "\e63e"

.icon-hammer:before
  content: "\e63f"

.icon-hands:before
  content: "\e640"

.icon-linechart:before
  content: "\e641"

.icon-message:before
  content: "\e642"

.icon-notes:before
  content: "\e643"

.icon-pen:before
  content: "\e644"

.icon-people:before
  content: "\e645"

.icon-percent:before
  content: "\e646"

.icon-safety:before
  content: "\e647"

.icon-ship:before
  content: "\e648"

.icon-umbrella:before
  content: "\e649"

.icon-checked:before
  content: "\e64a"

.icon-ciask:before
  content: "\e64c"

.icon-wallet:before
  content: "\e60a"

.icon-savings:before
  content: "\e64d"

.icon-stethoscope:before
  content: "\e64f"

.icon-bed:before
  content: "\e650"

.icon-coffin:before
  content: "\e651"

.icon-safeguard:before
  content: "\e653"

.icon-travel:before
  content: "\e654"

.icon-forward:before
  content: "\e64e"
