.input
  display: inline-block
  vertical-align: middle
  outline: none
  padding-left: 10px
  input-size(200px, 40px)
  input-variant(#444, $border_color, #c5d3fd)

// input color
.input-default
  input-variant(#444, #cbd7fd, #8cc2d9)

//input size
.input-narrow
  input-size(200px, 34px)

.input-short
  input-size(200px, 40px)

.input-fullwidth
  input-size(100%, 40px)
