.line-through-title
  margin: 40px 0 0px
  padding-top: 15px
  border-top: 1px dotted $border_color
  text-align: center
  .through-title
    position: relative
    top: -24px
    min-width: 55px
    padding: 0 10px
    color: $gray_light
    background: #fff
    margin: 0 auto
    text-align: center