.twocol-content
  font-size: 0
  .left-col,
  .right-col
    display: table-cell
    font-size: 14px
    vertical-align: top
    *display: inline
    zoom: 1

  .left-col
    padding-right: 10px

  &.middle-align
    .left-col,
    .right-col
      vertical-align: middle

  &.bottom-align
    .left-col,
    .right-col
      vertical-align: bottom
