@import '../core/_global.styl'

@import './mods/_index.styl'
@import './mine/_mine.styl'
@import './mods/_suixin.styl'

@import './order/_order.styl'
@import './order/_loans.styl'
@import './mods/_complete.styl'
@import './mods/_record.styl'
@import './mods/_txt.styl'
@import './mods/_activity.styl'
@import './mods/_publicity.styl'

@import '../mods/_product_footer.styl'
@import '../mods/_bankcard.styl'
@import '../mods/_table_record.styl'

.cake-modal
  width: 300px
