.accounts-setting-wrapper
  .item
    .title
      width: 90px
      text-align: left
      &.text-indent
        text-indent: 1em
        @media $mobile
          text-indent: 0
    .input-con
      width: 500px
      @media $mobile
        width: 100%
      input
        width: 280px
        @media $mobile
          width: 100%
    .input-prompt,
    .form-error-con
      margin-left: 95px
      @media $mobile
        margin-left: 0
    .input-prompt
      display: none
  .item-info
      padding-left: 95px
      @media $mobile
        padding-left: 0
  .btn-saving
    font-size: 14px
    margin-left: 95px
    width: 130px
    @media $mobile
      width: 45%
      margin-left: 0
  .btn-cancel
    width: 130px
    font-size: 14px
    margin-left: 15px
    @media $mobile
      width: 45%
      float: right
.bind-error
  margin-left: 130px
  @media $mobile
    margin-left: 0

.twofactor-qrcode
  display: block
  margin: 10px auto
