.help-wrapper
  .help-title
    font-size: 18px
    padding: 20px 0 30px
    border-bottom: 1px dotted #ddd
    margin-bottom: 30px
    .title
      font-size: 30px
      font-weight: bold
      color: $sidenav_bg
    img
      display: inline-block
      margin-top: 2px
      vertical-align: bottom
      margin-right: 5px
    .childins-logo
      width: 180px
    .savings-logo
      width: 123px
    .fund-logo
      width: 130px
    .wallet-logo
      width: 100px
  .section
    margin-bottom: 50px
  h3
    font-size: 18px
    margin: 40px 0
  h4
    font-size: 16px
    color: #396281
    margin: 20px 0 15px
    cursor: pointer
  p
    margin: 15px 0
    line-height: 1.8
    strong
      font-weight: bold
  .table-help
    margin-bottom: 20px
    width: 100%
    @media $mobile
      font-size: 12px
  tr
    &.item-special
      td
        border-bottom: none
  td
    padding-top: 15px
    padding-bottom: 15px
    color: $gray_light
    border-bottom: 1px dotted #ccc
    @media $mobile
      padding-bottom: 20px
  .help-savings-img
    width: 100%
    min-width: 280px
    margin: 0 auto
    display: block
    &.bearing
      max-width: 525px
    &.limit
      max-width: 324px
  .savings-bank-limit
    width: 500px
    margin: 0 auto
    @media $mobile
      width: 100%
    table
      width: 100%
    .bank-logo
      display: inline-block
      vertical-align: middle
      width: 30px
    tr
      &:last-child
        td
          border: 0 none
    td
      padding: 8px 0
      &:last-child
        text-align: right
    p
      margin: 0
    .bank-name
      margin: 0 0 0 20px
      vertical-align: middle
      @media $mobile
        margin-left: 5px
