.viewpoints-content
  background: #fff
  padding: 5px 30px 20px
  @media $mobile
    padding: 5px 3% 20px
    border-top: none !important
  font-size: 16px
  .btn-back
    margin-top: 10px

  .viewpoints-title
    line-height: 50px
    height: 50px
    font-size: 19px
    color: #000

  .viewpoints-item
    margin-bottom: 30px
    .item-label
      float: left
      line-height: 30px
      text-align: center
      margin-top: 9px
      margin-right: 12px
      width: 90px
      font-size: 14px
      border: 1px solid #ccc
      border-radius: 0
      color: $gray_light
      &:hover
        background: $brand_blue
        color: #fff

    .viewpoints-item-content
      overflow: hidden
      h3
        line-height: 28px
        font-size: 16px
        a
          color: #555
          &:hover
            color:$brand_blue

      p
        font-size: 12px
        color: #aaa
        line-height: 26px
        span
          margin-left:10px

.viewdetail-content
  padding: 20px 30px
  background: #fff
  @media $mobile
    padding: 20px 3%
  h2
    line-height: 28px
    font-size: 22px
    color: #222
    margin: 5px 0
    a
      margin-left: 10px
  .sub-title
    color: $gray_light
    line-height: 26px
  ul,
  p
    margin-bottom: 25px
    line-height: 24px
  ul
    padding-left: 30px
    line-height: 26px
  img
    display: block
    margin: 0 auto
    max-width: 90%
  strong
    font-weight: bold
    color: $gray_dark


.consultations-content
  background: #fff
  padding: 5px 30px 20px
  @media $mobile
    padding: 5px 3% 20px
  .consultations-item
    padding: 15px 0
    border-bottom: 1px solid #ccc
    .item-question
      line-height: 24px
      color: #3363A5

    .item-answer
      line-height: 24px
      padding-top: 10px
      .answer-word
        float: left
      .answer-content
        overflow: hidden
        zoom: 1
