@import '../core/_global.styl'
@import '../mods/_reset_password_form.styl'

@import 'mods/_reset_verification.styl'
@import 'mods/_find.styl'
@import 'mods/_login_and_register.styl'
@import 'mods/_aside.styl'
@import 'mods/_common.styl'
@import 'mods/_setting.styl'

.accounts-box
  padding: 80px 0
  width: 960px
  min-height: 400px
  margin: 0 auto
  @media $mobile
    width: 100%
    padding: 0px
