@import 'jeet'

.saving-complete-wrapper
  .saving-complete-title
    background: #fff
    line-height: 80px
    padding-left: 30px
    @media $mobile
      text-align: center
      padding-left: 0
    .succ-tip
      font-size: 20px
      color: $deep_green_60
      font-weight: bold
    .iconfont
      font-size: 25px
      color: #31B018
      font-weight: 900

  .activity-invited
    padding: 10px 40px 30px
    @media $mobile
      padding: 0 20px 20px
    strong
      color: $orange_80
    .text-desc
      line-height: 30px
    .todo-action
      margin-top: 30px
      @media $mobile
        text-align: center
    .btn
      @media $mobile
        width: 49%
        min-width: 120px
        margin: 0 0 10px
        &:frist-child
          margin-left: 2%

  .complete-banner
    background: $yellow_10
    padding: 30px 30px
    border-top: 1px solid $gray_20
    img
      width: 150px
    .right-col
      @media $mobile
        text-align: center
        display: block
  .banner-follow
    font-size: 20px
    line-height: 40px
    @media $mobile
      font-size: 18px

  .wechat-code
    padding: 10px 0 20px
    font-size: 55px
    @media $mobile
      font-size: 41px

  .banner-benefit
    font-size: 14px
    @media $mobile
      font-size: 12px
    i
      font-size: 10px
      padding-left: 17px
      &:first-child
        padding-left: 0px

  .saving-detail
    margin-top: 20px
    @media $mobile
      margin-bottom: 0
      margin-top: 0
    .detail-item-con
      display: table
      width: 100%
      margin-bottom: 40px

    .detail-item
      display: table-cell
      padding: 0 20px
      line-height: 2.4
      @media $mobile
        display: block
        padding: 20px 0
      &.bordered
        border-left: 1px dashed #ccc
        border-right: 1px dashed #ccc
        @media $mobile
          border: none
          border-top: 1px dashed #ccc
          border-bottom: 1px dashed #ccc
      &.first
        padding-left: 0
      &:last-child
        padding-right: 0
        border-right: none
    .detail-info
      line-height: 1.5
    .detail-desc
      border-top: 1px dashed $gray_30
      margin-top: 20px
      padding-top: 20px
      line-height: 1.5
      img
        width: 12px
        margin-right: 10px
    .btn-back
      padding: 3px 40px
      margin-top: 50px
      margin-bottom: 20px
  .complete-foot
    @media $mobile
      border-top: 1px solid $gray_20
    .right-col
      padding-top: 30px
      @media $mobile
        display: block
        text-align: center
        padding-top: 0
    p
      font-size: 18px
    span
      display: block
      margin-top: 10px
    img
      width: 100px

.activity-dlg-tips
  .onemodal-hd
    h4
      font-size: 28px
      @media $mobile
        font-size: 22px
  .btn-more
    border: 1px solid $orange_60
    margin-top: 30px
  img
    width: 150px
    right: -20px
    bottom: -20px
    position: absolute
    @media $mobile
      width: 100px
