badge($width=80px, $height=20px, $font_size=12px, $top=10px, $left=-24px, $color=#fff, $bg_color=$red_60)
  position: relative
  overflow: hidden
  .badge
    width: $width 
    height: $height
    font-size: $font_size 
    line-height: $height
    text-align: center
    color: $color
    position: absolute
    background-color $bg_color
    top: $top
    left: $left
    transform: rotate(-50deg)
    @media $mobile
      font-size: 10px
      left: -27px
      top: 8px

