@import './_loading_dot.styl'

.dlg-accident
  text-align: center
  padding:30px 0
  .guihua-logo
    width: 150px
    margin-right: 10px
    @media $mobile
      width: 105px
      margin-right: 0
  .zm-logo
    width: 150px
    margin-left: 10px
    @media $mobile
      width: 105px
      margin-left: 0
  .l700-logo
    width: 130px
    margin-left: 10px
    @media $mobile
      width: 85px
  .hzw-logo
    width: 150px
    margin-left: 10px
    @media $mobile
      width: 100px
  .btn-continue
    margin: 20px auto 30px
    padding: 0 30px
    color: $blue_80
    background-color: #FFF
    border: 1px solid $gray_20
  .skip-text
    margin-bottom: 50px
    margin-top: -10px
  p
    margin-top: 10px
    line-height: 1.5
  .input-group
    input[type="text"]
      border-color: $orange_60
    .input-unit
      background-color: $orange_60
