.modify-password-wrap
  font-size: 16px
  width: 380px
  margin: 80px auto 0
  @media $mobile
    width: 100%
    margin: 0 auto
    padding: 20px 5%

  h2
    padding-left: 27px
    font-size: 18px
    line-height: 40px
    color: #222
    @media $mobile
      padding: 0

.modify-password-form
  .txt-input
    margin-top: 15px
    overflow: hidden
    input
      @media $mobile
        width: 99%

    .input-tips
      display: inline-block
      width: 130px
      text-align: right
      padding-right: 20px
      @media $mobile
        display: block
        text-align: left
        padding-bottom: 10px

    .code-txt
      width: 90px
      display: inline-block
      margin-right: 10px
      @media $mobile
        width: 60%
        margin-right: 2%

    .btn-getcode
      button-variant(#fff, #83BB00, #83BB00)
      button-size(0, 0, 14px, 40px, 0px)
      min-width: 95px
      @media $mobile
        width: 36%

    .btn-disable
      display: none
      button-variant(#fff, #aaa, #aaa)
      button-size(0, 0, 14px, 40px, 0px)
      min-width: 95px
      @media $mobile
        width: 36%

    .btn-getcoding
      button-variant(#fff, #aaa, #aaa)


    .input-prompt
      display: none
      padding: 5px 0 0 132px
      font-size: 14px
      color: $primary_color
      @media $mobile
        padding-left: 0px

    .input-prompt-show
      display: inline-block

  .form-error
    margin: 10px 0 0 134px
    color: red
    @media $mobile
      margin: 10px 0

  .confirm-password-submit
    margin: 15px 0 0 134px
    @media $mobile
      margin: 20px 0 0 0
      width: 99%

