<div class="modals-group">
  <div class="onemodal-hd">
    <a href="#" rel="onemodal:close"><i class="iconfont icon-close" ></i></a>
    <h4 class="text-error">{{ error_title }}</h4>
  </div>
  <div class="onemodal-bd">
    <div class="twocol-content middle-align">
      <div class="left-col"><i class="bd-icon iconfont icon-wrong"></i></div>
      <div class="right-col"><p class="text-light">{{ error_msg }}</p></div>
    </div>
  </div>
  <div class="onemodal-ft">
    <a class="btn btn-green" rel="onemodal:close" href="#">确定</a>
  </div>
</div>
