<div class="modals-group">
  <div class="onemodal-hd">
    <h4>{{title}}</h4>
  </div>
  <div class="onemodal-bd form-wrapper">
    <div class="input-con">
      <input class="js-code" type="text" pattern="[0-9]*" placeholder="请输入收到的短信验证码">
      <span class="js-error text-red"></span>
    </div>
  </div>
  <div class="onemodal-ft">
    <a class="btn btn-green dialog-code-btn js-btn-code text-center" href="#">提交</a>
    <a class="btn dialog-code-btn btn-cancel" href="#" rel="onemodal:close">取消</a>
  </div>
</div>
