<div class="modals-group onemodal-wechat">
  <div class="onemodal-bd">
    <img src="{{img_src}}" alt="分享朋友圈" width="106">
    <p>在右上角微信菜单中</p>
    <p>选择“<span class="text-red">分享到朋友圈</span>”或“<span class="text-red">发送给朋友</span>”</p>
  </div>
</div>
