<div class="modals-group">
  <div class="onemodal-hd">
    <a href="#" rel="onemodal:close" ><i class="iconfont icon-close"></i></a>
    <h4 class="text-success">{{ success_title }}</h4>
  </div>
  <div class="onemodal-bd">
    <div class="twocol-content middle-align">
      <div class="left-col"><i class="bd-icon iconfont icon-ghicon"></i></div>
      <div class="right-col">
        <p class="text-light">{{ success_msg }}</p>
        {{#if redirect_url}}
          <a href="{{redirect_url}}">去查看</a>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="onemodal-ft">
    <a class="btn btn-primary" rel="onemodal:close" href="#">确定</a>
  </div>
</div>