<div class="modals-group">
  <div class="onemodal-hd">
    <h4 class="title">{{ title }}</h4>
  </div>
  <div class="onemodal-bd">
    {{ content }}
  </div>
  <div class="onemodal-ft">
    <a class="btn" rel="onemodal:close" href="#">取消</a>
    <a class="btn btn-primary js-btn-confirm" href="#">{{ confirm_text }}</a>
  </div>
</div>
