<div class="item">
  <span class="title">手机号</span>
  <div class="input-con">
    <input type="text" class="validate js-phone" name="mobile" data-validate="require,phone">
  </div>
</div>
<div class="item">
  <span class="title">验证码</span>
  <div class="input-con">
    <input type="text" class="input-vcode js-code validate" name="code" placeholder="请输入验证码" data-validate="require">
    <a class="btn btn-green btn-send-vcode js-btn-send" href="#">发送验证码</a>
    <span class="btn btn-gray btn-vcode-verify text-light js-send-con hide"><span class="js-resend">60</span> 秒后重发</span>
  </div>
</div>
