.promotion-san-body
  background-color: #fff7a9
  padding-bottom: 50px
  .modals-group
    .onemodal-ft
      display: none
    .text-pink
      color: #F17F82
      font-size: 20px
      margin-bottom: 15px
  .btn-download
    background-color: #F17F82

.promotion-san-wrapper
  padding: 20px
  .banner
    margin-top: 10px
    color: #f37e80
    h2
      font-size: 30px
      font-size: 11vw
      margin-bottom: 20px
    p
      font-size: 22px
      font-size: 9vw
    img
      width: 100%
      margin-top: 10px
  .phone-form
    position: relative
    z-index: 10
    font-size: 16px
    margin-top: 15px
    @media $mobile
      margin-top: 10px
    label
      display: inline-block
      border: 1px solid #eee
    input
      font-size: 16px
      height: 35px
      line-height: 35px
      padding: 0 8px
      width: 100%
      border: 0
      outline: none
      @media $mobile
        width: 100%
        line-height: 18px
        font-size: 14px
    .prompt-error
      border: 1px solid $red_60
      border-radius: 0
    .prompt-tip
      margin: 5px auto
      text-align: left
      line-height: 20px
      width: 100%
      font-size: 14px
      color: #ef5350
      @media $mobile
        width: 100%
        font-size: 12px
        margin-top: 2px
        line-height: 12px
  .btn-primary
    margin: 10px auto 0
    height: 35px
    width: 100%
    border: 0
    background-color: #F17F82
    @media $mobile
      margin: 10px auto 2px
      width: 100%
  .rules
    margin-top: 20px
    p
      line-height: 1.5
      margin-bottom: 5px
