body
  min-height: 100%
  background: url('{{{img/activity/cake/bg.png}}}') repeat
  background-size: 72px

.page-loading
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  img
    position: absolute
    top: 50%
    left: 50%
    margin-top: -15px
    margin-left: -15px

.wow
  visibility: hidden

.cake-wrapper
  max-width: 550px
  margin: 0 auto 30px
  min-height: 90%
  text-align: center
  .btn-game
    width: 126px
    font-size: 18px
    line-height: 44px
    border-radius: 22px
    background: #524432
    border: 1px solid #453623
    color: #fff
    &.last
      margin-left: 20px
  .img-share
    position: absolute
    top: 0px
    right: 5px
    width: 100px

.cake-modal
  background-color: #fff4dc
  color: #524432
  h3
    margin-top: 20px
    font-weight: bold
    &:first-child
      margin-top: 0
  p
    margin-bottom: 5px
  .icon-close
    color: #524432
    position: absolute
    right: 10px
    top: 10px

.ft
  position: absolute
  bottom: 10px
  width: 100%
  user-select: none
  -webkit-user-select: none
  -webkit-touch-callout: none
  .logo
    width: 60px
    float: left
    margin-left: 10px
  .rule
    width: 60px
    float: right
    margin-right: 10px

.inner-logo
  position: absolute
  bottom: 10px
  left: 10px
  img
    width: 60px
