.fund-detail-wrapper
  h3
    font-size: 20px
    margin-bottom: 30px
    span
      font-weight: normal
      font-size: 14px
      margin-left: 10px
      @media $mobile
        font-size: 10px
    img
      width: 22px
      display: inline-block
      vertical-align: top
      margin-top: -3px
      margin-right: 5px
    em
      @media $mobile
        color: #DA5162
  .theme-wrapper
    background-color: #DA5162
    margin-bottom: 0
    h2
      font-size: 26px
    .btn-unfollow
    .btn-follow
      float: right
    .btn-follow
      color: $gray_70
      background-color: #f6f6f6
      i
        margin-right: 0.5em
  .theme-detail-wrapper
    padding: 0 50px
    background-color: #fff
    margin-bottom: 15px
    @media $mobile
      padding: 20px 0
    .box-wrapper
      clearfix()
      line-height: 1.5
    .left-theme
      span(7/10)
      padding: 30px 30px 20px 0
      border-right: 1px solid $gray_20
      > p.text-lighter
        margin-top: 30px
      @media $mobile
        stack()
        border-right: none
        padding-right: 0
        padding-top: 15px

    .right-theme
      span(3/10)
      position: relative
      @media $mobile
        stack()
        text-align: center
        border-top: 1px solid $gray_20
      >img
        width: 200px
        margin-left: 30px
        margin-top: 40px
        @media $mobile
          display: block
          margin: 20px auto 0
    .tip-box
      border: 1px solid $gray_20
      right: -30px
      cursor: pointer
      padding: 3px 5px
      position: absolute
      bottom: 0
      @media $mobile
        right: 10px
      img
        width: 16px
        display: inline-block
        vertical-align: top
        margin-right: 3px

    .col
      margin-bottom: 10px
      @media $mobile
        border-top: 1px solid $gray_20
        padding: 20px
        margin-bottom: 0
      p
        margin-left: 80px
    h5
      float: left

   .nav-wrapper
     padding: 0
     clearfix()
     text-align: center
   .nav-item
     span(1/4)
     color: #DA5162
     padding: 20px
     border-right: 1px solid $gray_20
     cursor: pointer
     &:last-child
       border-right: none
     span
       display: inline-block
     img
       width: 25px
       margin-right: 5px
       display: inline-block
       margin-top: -5px
       vertical-align: top

  .section-wrapper
    @media $mobile
      border-top: 3px solid #DA5162
  .income-wrapper
    h5
      margin-bottom: 20px
    h2
      font-size: 40px
      color: #DA5162
      margin-bottom: 60px
      em
        font-size: 60px
    .income-main
      clearfix()
    .left-income
      span(1/2)
      border-right: 1px solid $gray_20
      padding-right: 20px
      @media $mobile
        stack()
        border-right: none
        padding-right: 0
      .chart-wrapper
        height: 250px
    .right-income
      span(1/2)
      text-align: center
      padding-left: 50px
      padding-top: 50px
      @media $mobile
        stack()
        padding-left: 0
    .col-3
      clearfix()
      .col
        span(1/3)
        border-right: 1px solid $gray_20
        &:last-child
          border-right: none
        p
          margin-top: 10px

  .configure-wrapper
    .reason-wrapper
      background-color: $gray_20
      border: 1px solid $gray_30
      margin: 20px 0
      padding: 10px
      line-height: 1.5
      h5
        margin-bottom: 5px
  .table-trading
    width: 100%
    border: 1px solid $gray_30
    border-left: none
    tr
      &:last-child
        td
          border-bottom: none
      &:first-child
        background-color: $gray_10
    td
      color: $gray_light
      padding: 15px 0
      border-bottom: 1px solid $gray_30
      border-left: 1px solid $gray_30
      text-align: center
      max-width: 60px
      @media $mobile
        padding: 10px

  .newspaper-wrapper
    .sub-title
      @media $mobile
        margin-top: 10px
        display: block
        margin-left: 0
        line-height: 1.5
    .twocol-content
      margin-top: 20px
      border-bottom: 1px solid $gray_20
      padding-bottom: 20px
      @media $mobile
        border-bottom: none
      &:last-child
        border-bottom: none
    .left-col
      width: 100px
    a
      margin-bottom: 10px
      display: block
    p
      line-height: 1.5

  .info-wrapper
    p
      line-height: 1.5
