<div class="modals-group">
  <div class="onemodal-hd">
    <a href="#" rel="onemodal:close"><i class="iconfont icon-close" ></i></a>
    <h4>银行卡信息</h4>
  </div>
  <div class="onemodal-bd js-form">
  </div>
  <div class="onemodal-ft">
    <a class="btn btn-green js-btn-submit text-center" href="#">提交</a>
    <a class="btn btn-cancel" href="#" rel="onemodal:close">取消</a>
  </div>
</div>
