.section-4
  background-color: #f5f5f5
  .section-wrap
    >.bd
      li
        padding: 6px 30px
      .btn
        line-height: 40px
        width: 156px
    .m-product-intro
      height: 420px
      padding-top: 37px
      >.hd
        .svgicon
          path
            fill: $brand_blue
      >.bd
        .svgicon
          margin: 30px 0 20px 0
        .btn-plan
          margin-top: 20px
    @media $screen_height_middle
      .m-product-intro
        height: 350px
        width: 300px
        padding-top: 20px
        >.bd
          .svgicon
            margin: 20px auto 10px auto
          .btn-plan
            margin-top: 10px
