.section-5
  background-color: #fff
  .section-wrap
    >.bd
      max-width: 1100px
      margin: 0 auto
  .m-plan-feature
    margin-top: 50px
    @media $screen_768
      margin-top: 30px
    @media $mobile
      margin-top: 0
  .m-service
    width: 464px
    margin: 42px 0px 0 42px
    @media $screen_768
      margin: 22px 0px 0 22px
    @media $mobile
      width: 260px
      margin: 30px auto 0 auto
    @media $screen_height_low
      margin: 10px auto 0 auto
    >.hd
      width: 100%
      margin: 0
      .logo-wrap
        width: 70px
        height: 70px
        float: left
        background: none
        line-height: 0
        @media $mobile
          width: 48px
          height: 38px
          margin-bottom: 0
      .svgicon
        width: 38px
        height: 38px
        @media $mobile
          margin-right: 10px
      .title
        overflow: hidden
        text-align: left
        font-weight: normal
        font-size: 18px
    >.bd
      margin-top: 20px
      overflow: hidden
      @media $screen_768
        width: auto
        margin-top: 10px
      @media $mobile
        margin-top: 10px
