.section-6
  .section-outer-wrap
    display: table-row
    height: 65%
    @media $mobile
      height: 60%
  .section-wrap
    @media $mobile
      display: table-cell
  .section-wrap-1
    overflow: visible
    background-color: $blue_gray_40
    @media $mobile
      width: 300px
    >.hd
      @media $mobile
        margin-top: 0
      .title
        color: #fff
        @media $mobile
          font-size: 24px
          line-height: 1.5
          width: 300px
          margin: 0 auto
    >.bd
      @media $mobile
        width: 300px
      .subtitle
        color: #fff
        opacity: .9
        @media $mobile
          margin: 20px 0 35px 0
        @media $screen_height_low
          margin: 16px 0 12px 0
      .btn-plan
        @media $mobile
          line-height: 44px
          height: 44px
          width: 260px
        @media $screen_height_low
          line-height: 40px
          height: 40px

    .m-plan-form
      margin-top: 50px
      &:after
        width: 160px
      .select
        .btn
          width: 160px
      .dropdown
        width: 160px

  .section-wrap-2
    display: table-row
    height: 35%
    background-color: #f4f8fb
    @media $mobile
      height: 40%
    >.hd
      text-align: center
      margin-top: 40px
      margin-bottom: 35px
      @media $mobile
        padding-top: 20px
        margin-top: 0
        margin-bottom: 20px
      .title
        color: $fancy_gray_90
        font-size: 30px
        font-weight: bold
        @media $mobile
          font-size: 16px
    >.bd
      .partners
        font-size: 0
        text-align: center
        margin: 0 auto
        @media $mobile
          width: 300px
        li
          font-size: 14px
          color: $desc_text_color
          display: inline-block
          width: 180px
          height: 54px
          line-height: 54px
          vertical-align: middle
          border: 1px solid $gray_20
          background-color: #fff
          margin: 0 .5% 20px .5%
          @media $mobile
            width: 96px
            height: 34px
            min-width: 0
            line-height: 34px
            margin: 4px 2px
            text-align: center
        .svgicon
          vertical-align: middle
          @media $mobile
            margin: 0 auto
        .logo-yx
          width: (30/36)*58 px
          height: 30px
          @media $mobile
            width: (18/36)*58 px
            height: 18px
        .logo-yxpz
          width: (30/36)*100 px
          height: 30px
          @media $mobile
            width: (18/36)*100 px
            height: 18px
        .logo-ms
          height: 25px
          width: (25/39)*184 px
          @media $mobile
            width: (15/39)*184 px
            height: 15px
        .logo-zm
          width: (30/36)*85 px
          height: 30px
          @media $mobile
            width: (18/36)*85 px
            height: 18px
        .logo-700
          width: (30/36)*85 px
          height: 30px
          @media $mobile
            width: (18/36)*85 px
            height: 18px
    .footer-wrapper
      margin: 0
      padding-top: 10px
      padding-bottom: 20px
