@import '../core/_global.styl'
@import 'jeet'

@import '../mods/_product_footer.styl'
@import './mods/_index.styl'
@import './mods/_detail.styl'
@import './mods/_user.styl'

.amcharts-chart-div
  a
    display: none !important