<div class="modals-group">
  <div class="onemodal-hd">
    <a href="#" rel="onemodal:close" ><i class="iconfont icon-close"></i></a>
    <h4 class="text-success">发送成功</h4>
  </div>
  <div class="onemodal-bd">
    <div class="twocol-content middle-align">
      <div class="left-col"><i class="bd-icon iconfont icon-ghicon"></i></div>
      <div class="right-col">
        <p class="text-light">页面链接已发送至</p>
        <p class="text-light js-email-str">{{ user_email }}</p>
        <p class="text-lighter">如未收到，请检查垃圾邮件或</p>
        <a class="js-resend" href="#">重新发送</a>
      </div>
    </div>
  </div>
  <div class="onemodal-ft">
    <a class="btn btn-blue" rel="onemodal:close" href="#">知道了</a>
  </div>
</div>
